In [1]:
# Técnicas de Ensemble

# Bagging e Random Forest utilizando o framework tidymodels (parsnip, baguette).
# Instalando e carregando pacotes necessários
install.packages('baguette')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘plyr’, ‘reshape2’, ‘libcoin’, ‘mvtnorm’, ‘Formula’, ‘inum’, ‘listenv’, ‘parallelly’, ‘warp’, ‘globals’, ‘sparsevctrs’, ‘lobstr’, ‘Cubist’, ‘partykit’, ‘DiceDesign’, ‘sfd’, ‘future’, ‘slider’, ‘parsnip’, ‘butcher’, ‘C50’, ‘dials’, ‘furrr’, ‘hardhat’, ‘rsample’

In [2]:
install.packages('ranger')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependency ‘RcppEigen’

In [3]:
library(baguette)
library(ranger)

Loading required package: parsnip

In [5]:
dados <- read.csv('automoveis_usados.csv')

In [6]:
head(dados)

  Estilo                  Ano  Potencia_motor Cilindros_motor
1 SUV 4 portas            2005 275            6
2 seda                    2016 170            4
3 minivan de passageiros  2016 248            6
4 seda                    2015 138            4
5 seda                    1991 162            4
6 picape cabine estendida 2012 152            4
  Consumo_estrada_km Valor
1 28.96812           29695
2 61.15492           30495
3 45.06152           37650
4 57.93624           16170
5 32.18680            2000
6 37.01482           19299

In [7]:
install.packages('tidymodels')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘shape’, ‘future.apply’, ‘numDeriv’, ‘progressr’, ‘SQUAREM’, ‘diagram’, ‘lava’, ‘prodlim’, ‘lhs’, ‘patchwork’, ‘clock’, ‘gower’, ‘ipred’, ‘timeDate’, ‘GPfit’, ‘modelenv’, ‘infer’, ‘modeldata’, ‘recipes’, ‘tailor’, ‘tune’, ‘workflows’, ‘workflowsets’, ‘yardstick’

In [8]:
library(tidymodels)

── Attaching packages ────────────────────────────────────── tidymodels 1.4.1 ──

✔ broom        1.0.10     ✔ rsample      1.3.1
✔ dials        1.4.2      ✔ tailor       0.1.0
✔ dplyr        1.1.4      ✔ tidyr        1.3.1
✔ ggplot2      4.0.0      ✔ tune         2.0.0
✔ infer        1.0.9      ✔ workflows    1.3.0
✔ modeldata    1.5.1      ✔ workflowsets 1.1.1
✔ purrr        1.1.0      ✔ yardstick    1.3.2
✔ recipes      1.3.1

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ purrr::discard() masks scales::discard()
✖ dplyr::filter()  masks stats::filter()
✖ dplyr::lag()     masks stats::lag()
✖ recipes::step()  masks stats::step()

In [9]:
set.seed(6578)

df_split <- initial_split(dados, prop = 0.8)
df_split

<Training/Testing/Total>
<8655/2164/10819>

In [10]:
df_treino <- training(df_split)
df_teste <- testing(df_split)

In [11]:
# BAGGING

# - bag_tree(): cria um modelo de árvore de decisão com ensemble
# - set_mode('regression'): indica que estamos tratando um problema de regressão
# - set_engine('rpart', times = 100): usa o motor 'rpart' com 100 árvores no ensemble
bagging <- bag_tree() %>%
  set_mode('regression') %>%
  set_engine('rpart', times = 100)

In [12]:
# Ajustando o modelo Bagging nos dados de treino
set.seed(4556)

modelo_bagging <- bagging %>%
  fit(Valor ~ Estilo + Ano + Potencia_motor, data = df_treino)

Registered S3 method overwritten by 'butcher':
  method                 from
  as.character.dev_topic generics

In [13]:
# Visualizando informações do modelo ajustado
modelo_bagging

parsnip model object

Bagged CART (regression with 100 members)

Variable importance scores include:

# A tibble: 3 × 4
  term             value   std.error  used
  <chr>            <dbl>       <dbl> <int>
1 Ano            1.24e12 2188886368.   100
2 Potencia_motor 9.77e11 2166065457.   100
3 Estilo         3.19e11 1250656068.   100

In [14]:
# Fazendo previsões no conjunto de teste
predicoes <- predict(modelo_bagging, new_data = df_teste)

In [15]:
# Unindo as previsões com os dados de teste para facilitar análise
predicoes_badding <- bind_cols(df_teste, predicoes)

In [16]:
predicoes_badding

     Estilo                  Ano  Potencia_motor Cilindros_motor
1    hatchback 2 portas      2015 106            4
2    seda                    2008 264            6
3    hatchback 2 portas      2005 210            4
4    perua                   1991 162            4
5    SUV 4 portas            2017 168            4
6    SUV 4 portas            2017 284            6
7    SUV 2 portas            2001 203            6
8    hatchback 4 portas      2016 138            4
9    hatchback 2 portas      2013 200            4
10   hatchback 4 portas      2017 164            4
11   minivan de passageiros  2005 200            6
12   seda                    2016 184            4
13   SUV 4 portas            2017 240            4
14   hatchback 4 portas      2016 188            4
15   seda                    2016 304            6
16   seda                    2016 178            4
17   seda                    2016 195            4
18   picape cabine estendida 2017 385            8
19   picape cabine simples   2003 135            4
20   SUV 4 portas            2016 176            4
21   seda                    1995 225            6
22   seda                    2015 272            4
23   cupe                    2009 330            6
24   SUV 4 portas            2013 265            6
25   seda                    2017 200            4
26   SUV 4 portas            2017 250            4
27   SUV 4 portas            2011 166            4
28   hatchback 4 portas      2012 158            4
29   SUV 2 portas            2016 240            4
30   seda                    2004 225            4
⋮    ⋮                       ⋮    ⋮              ⋮
2135 SUV 4 portas            2016 420            8
2136 picape cabine simples   1999 220            8
2137 picape cabine simples   2002 120            4
2138 minivan de passageiros  2004 190            6
2139 seda                    2005 215            6
2140 seda                    2006 298            6
2141 picape cabine dupla     2008 310            8
2142 picape cabine simples   2015 381            8
2143 cupe                    2015 375            8
2144 seda                    2012 280            6
2145 cupe                    2016 348            6
2146 seda                    2015 241            4
2147 seda                    2015 168            4
2148 picape cabine dupla     2007 295            8
2149 seda                    2015 220            4
2150 perua                   1995 162            4
2151 hatchback 4 portas      2013 200            4
2152 hatchback 4 portas      2017 173            4
2153 SUV 4 portas            2009 171            4
2154 picape cabine dupla     2012 320            8
2155 seda                    1995 168            5
2156 SUV 4 portas            2016 281            6
2157 seda                    2005 140            4
2158 picape cabine simples   1997 200            6
2159 minivan de passageiros  2007 240            6
2160 seda                    1990 165            6
2161 seda                    2003 300            8
2162 hatchback 2 portas      2015 210            4
2163 cupe                    1995 222            6
2164 cupe                    2017 208            4
     Consumo_estrada_km Valor .pred
1    59.54558           14845 16056.09
2    38.62416           25495 28489.01
3    45.06152           23670 25001.69
4    32.18680            2000  2000.00
5    46.67086           23600 24951.54
6    43.45218           36100 36703.74
7    32.18680           21035 23570.72
8    59.54558           17905 18102.96
9    53.10822           31495 27757.42
10   54.71756           21990 19249.21
11   37.01482           28110 28700.62
12   57.93624           21995 23941.57
13   48.28020           40950 42286.87
14   49.88954           26940 23867.18
15   45.06152           31065 46479.19
16   56.32690           23070 24821.65
17   49.88954           27095 48533.29
18   33.79614           35870 42478.82
19   41.84284           13930 15034.50
20   49.88954           24350 29216.34
21   41.84284            2000  2005.40
22   45.06152           57670 48041.77
23   41.84284           35900 38349.42
24   37.01482           42650 39530.02
25   49.88954           37820 36283.38
26   41.84284           45750 41134.22
27   40.23350           23449 22175.23
28   41.84284           21715 20323.25
29   48.28020           46675 45644.61
30   45.06152           20450 31710.86
⋮    ⋮                  ⋮     ⋮
2135 35.40548           68025 67980.641
2136 27.35878            2922  3359.843
2137 40.23350           13961 16073.404
2138 25.74944           26195 24332.963
2139 37.01482           31105 25387.077
2140 38.62416           31200 46041.983
2141 27.35878           32155 32068.890
2142 27.35878           32170 32271.761
2143 37.01482           34995 35567.067
2144 46.67086           35705 39763.142
2145 38.62416           33750 29795.713
2146 54.71756           38400 43858.565
2147 49.88954           20595 21434.219
2148 30.57746           32690 32386.768
2149 53.10822           33200 40977.014
2150 38.62416            2000  2000.000
2151 49.88954           28795 28683.715
2152 51.49888           19800 19354.435
2153 40.23350           24690 23948.631
2154 33.79614           50305 41588.768
2155 41.84284            2000  2000.000
2156 35.40548           34005 36861.281
2157 49.88954           20090 17047.768
2158 28.96812            2992  2561.923
2159 37.01482           23280 28449.983
2160 40.23350            2000  2000.000
2161 40.23350           49150 50933.850
2162 49.88954           25450 29118.520
2163 37.01482            2575  2750.163
2164 48.28020           41300 41061.557

In [17]:
calcular_metricas <- function(predicoes, valores_reais) {
  resultado <- tibble(
    predicao = predicoes,
    real = valores_reais
  )

  metricas <- resultado %>%
    metrics(truth = real, estimate = predicao)
  return(metricas)
}

In [19]:
set.seed(4556)

df_folds <- vfold_cv(df_treino, v = 5)

In [18]:
# Calculando métricas de desempenho do Bagging:
# - RMSE (Root Mean Squared Error)
# - R² (Coeficiente de Determinação)
# - MAE (Mean Absolute Error)
metricas_badding <- calcular_metricas(predicoes_badding$.pred, predicoes_badding$Valor)
metricas_badding

  .metric .estimator .estimate
1 rmse    standard   4562.5555314
2 rsq     standard      0.9173159
3 mae     standard   3022.3345081

In [20]:
# Avaliando a performance do modelo Bagging com validação cruzada (resampling)
set.seed(4456)

fits_cv <- fit_resamples(bagging,
                         Valor ~ Estilo + Ano + Potencia_motor,
                         resamples = df_folds,
                         metrics = metric_set(rmse, mae, rsq))

In [21]:
# Coletando as métricas médias da validação cruzada
media_metricas_badding <- collect_metrics(fits_cv)
media_metricas_badding

  .metric .estimator mean         n std_err      .config
1 mae     standard   2975.1605054 5 34.638275543 pre0_mod0_post0
2 rmse    standard   4575.2697907 5 83.031434098 pre0_mod0_post0
3 rsq     standard      0.9180205 5  0.002730385 pre0_mod0_post0

In [22]:
# RANDOM FOREST

# Instalando e carregando o pacote necessário
install.packages('randomForest')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [23]:
library(randomForest)

randomForest 4.7-1.2

Type rfNews() to see new features/changes/bug fixes.


Attaching package: ‘randomForest’


The following object is masked from ‘package:ggplot2’:

    margin


The following object is masked from ‘package:dplyr’:

    combine


The following object is masked from ‘package:ranger’:

    importance

In [25]:
# Definição do modelo Random Forest:
# - rand_forest(): cria um modelo de floresta aleatória
# - trees = 100: número de árvores
# - set_mode('regression'): regressão
# - set_engine('ranger'): usa o motor ranger (rápido e eficiente)
floresta_aleatoria <- rand_forest(trees = 100) %>%
  set_mode('regression') %>%
  set_engine('ranger')

In [26]:
# Ajustando o modelo Random Forest
set.seed(4456)

modelo_floresta_aleatoria <- floresta_aleatoria %>%
  fit(Valor ~ Estilo + Ano + Potencia_motor, data = df_treino)

In [27]:
# Visualizando informações do modelo treinado
modelo_floresta_aleatoria

parsnip model object

Ranger result

Call:
 ranger::ranger(x = maybe_data_frame(x), y = y, num.trees = ~100,      num.threads = 1, verbose = FALSE, seed = sample.int(10^5,          1))

Type:                             Regression
Number of trees:                  100
Sample size:                      8655
Number of independent variables:  3
Mtry:                             1
Target node size:                 5
Variable importance mode:         none
Splitrule:                        variance
OOB prediction error (MSE):       27633249
R squared (OOB):                  0.891849

In [28]:
# Fazendo previsões no conjunto de teste
predicoes <- predict(modelo_floresta_aleatoria, new_data = df_teste)

In [29]:
predicoes_floresta <- bind_cols(df_teste, predicoes)

In [30]:
# Calculando métricas de desempenho do Random Forest
metricas_floresta <- calcular_metricas(predicoes_floresta$.pred, predicoes_floresta$Valor)
metricas_floresta

  .metric .estimator .estimate
1 rmse    standard   5288.1087367
2 rsq     standard      0.8930113
3 mae     standard   3596.6924404

In [31]:
# Avaliando a performance do modelo Random Forest com validação cruzada
floresta_aleatoria <- rand_forest(trees = 100, mtry = 2 ) %>%
  set_mode('regression') %>%
  set_engine('ranger')

In [32]:
set.seed(4456)

fits_cv <- fit_resamples(floresta_aleatoria,
                         Valor ~ Estilo + Ano + Potencia_motor,
                         resamples = df_folds,
                         metrics = metric_set(rmse, mae, rsq))

In [33]:
# Coletando métricas médias da validação cruzada
media_metricas_floresta <- collect_metrics(fits_cv)
media_metricas_floresta

  .metric .estimator mean         n std_err      .config
1 mae     standard   2966.1068016 5 34.234648351 pre0_mod0_post0
2 rmse    standard   4529.4666225 5 71.117077538 pre0_mod0_post0
3 rsq     standard      0.9196171 5  0.002152886 pre0_mod0_post0